{{ define "title" }} Home {{end}}

{{define "main"}}
<div class="relative mb-16">

  <div role="tablist" class="tabs tabs-bordered my-6 sticky top-0">
    <a role="tab" class="tab">Year</a>
    <a role="tab" class="tab tab-active">Month</a>
    <a role="tab" class="tab">Day</a>
  </div>

  <div class="grid justify-items-center grid-cols-1 md:grid-cols-2 gap-2">
    <!-- <div class="flex"> -->
    <div class="stats">
      <div class="stat ">
        <div class="stat-title">Out this April</div>
        <div class="stat-value text-warning">RP -20.000</div>
      </div>
    </div>
    <div class="stats">
      <div class="stat ">
        <div class="stat-title">In this April</div>
        <div class="stat-value text-info">RP 100.000</div>
      </div>
    </div>
    <div class="stats">
      <div class="stat">
        <div class="stat-title">Total this April</div>
        <div class="stat-value text-primary">RP 80.000</div>
      </div>
    </div>
    <div class="stats">
      <div class="stat">
        <div class="stat-title">Remaining total</div>
        <div class="stat-value text-secondary">RP 180.000</div>
      </div>
    </div>
  </div>

  <div class="flex px-4">
    <div>
      <button class="btn btn-primary">March</button>
    </div>
    <div class="grow"></div>
    <div>
      <button class="btn btn-primary">May</button>
    </div>
  </div>

  <div class="overflow-x-auto container mt-2">
    <table class="table ">
      <!-- head -->
      <thead>
        <tr>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="hover cursor-pointer">
          <td>
            <div class="flex justify-center items-center gap-3">
              <div class="w-12 h-12 text-3xl">
                🍉
              </div>
              <div>
                <div class="font-bold">Food</div>
                <div class="text-sm opacity-50">02:AM</div>
              </div>
            </div>
          </td>
          <td>RP -5.000</td>
        </tr>
        <tr class="hover">
          <td>
            <div class="flex justify-center items-center gap-3">
              <div class="w-12 h-12 text-3xl">
                🍉
              </div>
              <div>
                <div class="font-bold">Food</div>
                <div class="text-sm opacity-50">02:AM</div>
              </div>
            </div>
          </td>
          <td>RP -5.000</td>
        </tr>
        <tr class="hover">
          <td>
            <div class="flex justify-center items-center gap-3">
              <div class="w-12 h-12 text-3xl">
                🍉
              </div>
              <div>
                <div class="font-bold">Food</div>
                <div class="text-sm opacity-50">02:AM</div>
              </div>
            </div>
          </td>
          <td>RP -5.000</td>
        </tr>
        <tr class="hover">
          <td>
            <div class="flex justify-center items-center gap-3">
              <div class="w-12 h-12 text-3xl">
                🍉
              </div>
              <div>
                <div class="font-bold">Food</div>
                <div class="text-sm opacity-50">02:AM</div>
              </div>
            </div>
          </td>
          <td>RP -5.000</td>
        </tr>
        <tr class="hover">
          <td>
            <div class="flex justify-center items-center gap-3">
              <div class="w-12 h-12 text-3xl">
                🍉
              </div>
              <div>
                <div class="font-bold">Food</div>
                <div class="text-sm opacity-50">02:AM</div>
              </div>
            </div>
          </td>
          <td>RP -5.000</td>
        </tr>
        <tr class="hover">
          <td>
            <div class="flex justify-center items-center gap-3">
              <div class="w-12 h-12 text-3xl">
                🍉
              </div>
              <div>
                <div class="font-bold">Food</div>
                <div class="text-sm opacity-50">02:AM</div>
              </div>
            </div>
          </td>
          <td>RP -5.000</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="btm-nav hidden max-md:flex">
  <button>
    <svg class="w-6 h-6 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
      viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M21 13v-2a1 1 0 0 0-1-1h-.757l-.707-1.707.535-.536a1 1 0 0 0 0-1.414l-1.414-1.414a1 1 0 0 0-1.414 0l-.536.535L14 4.757V4a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v.757l-1.707.707-.536-.535a1 1 0 0 0-1.414 0L4.929 6.343a1 1 0 0 0 0 1.414l.536.536L4.757 10H4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h.757l.707 1.707-.535.536a1 1 0 0 0 0 1.414l1.414 1.414a1 1 0 0 0 1.414 0l.536-.535 1.707.707V20a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-.757l1.707-.708.536.536a1 1 0 0 0 1.414 0l1.414-1.414a1 1 0 0 0 0-1.414l-.535-.536.707-1.707H20a1 1 0 0 0 1-1Z" />
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
    </svg>
    <span class="btm-nav-label text-sm">Setting</span>
  </button>
  <button>
    <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
      viewBox="0 0 24 24">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5" />
    </svg>
    <span class="btm-nav-label text-sm">Create</span>
  </button>
</div>
{{end}}