{{ define "title" }} Home {{end}}

{{define "main"}}
<div class="relative mb-16">

  <div role="tablist" id="tab_dates" class="tabs tabs-bordered my-6 sticky top-0" hx-boost="true"
    hx-target="#list_transactions">
    <a id="tab_yearly" role="tab" class="tab" onclick="tabbed(this)">Yearly</a>
    <a id="tab_monthly" role="tab" class="tab tab-active" onclick="tabbed(this)">Monthly</a>
    <a id="tab_daily" role="tab" class="tab" onclick="tabbed(this)">
      Daily
    </a>
  </div>

  <div class="grid justify-items-center grid-cols-1 md:grid-cols-2 gap-2">
    <div class="stats">
      <div class="stat ">
        <div class="stat-title">Out this April</div>
        <div class="stat-value text-warning">RP -20.000</div>
      </div>
    </div>
    <div class="stats">
      <div class="stat ">
        <div class="stat-title">In this April</div>
        <div class="stat-value text-info">RP 100.000</div>
      </div>
    </div>
    <div class="stats">
      <div class="stat">
        <div class="stat-title">Total this April</div>
        <div class="stat-value text-primary">RP 80.000</div>
      </div>
    </div>
    <div class="stats">
      <div class="stat">
        <div class="stat-title">Remaining total</div>
        <div class="stat-value text-secondary">RP 180.000</div>
      </div>
    </div>
  </div>

  <div class="flex px-4">
    <div>
      <button class="btn btn-primary">March</button>
    </div>
    <div class="grow"></div>
    <div>
      <button class="btn btn-primary">May</button>
    </div>
  </div>

  <!-- section list transaction -->
  <div class=" overflow-x-auto container mt-2" id="list_transactions" hx-trigger="list-transactions from:body">
  </div>

</div>


<script>
  function tabbed(el) {
    setAttributeClientDate(el)
    setAttributeClientDate(list_transactions)
    for (tab of tab_dates.children) {
      tab.classList.remove("tab-active")
    }
    el.classList.add("tab-active")

    let tabbedID = getTabbedID()

    form_create_transaction.setAttribute("hx-target", "#list_transactions")
    form_create_transaction.setAttribute("hx-headers", `{"tab": "${tabbedID}"}`)
    htmx.process(form_create_transaction)

    if (tabbedID === "tab_daily") {
      list_transactions.setAttribute("hx-get", "/projects/{{.Project.ID}}/daily")
    }
    if (tabbedID === "tab_monthly") {
      list_transactions.setAttribute("hx-get", "/projects/{{.Project.ID}}/monthly")
    }
    if (tabbedID === "tab_yearly") {
      list_transactions.setAttribute("hx-get", "/projects/{{.Project.ID}}/yearly")
    }
    htmx.process(list_transactions)

    let evt = new CustomEvent("list-transactions")
    document.body.dispatchEvent(evt)
  }

  function getTabbedID() {
    let el = document.querySelector("#tab_dates > a.tab-active")
    return el.id
  }

  (function () {
    let startInterval = 0
    const interval = setInterval(function () {
      if (startInterval == 10) {
        clearInterval(interval)
        alert("Client error")
      }
      if (list_transactions.hasAttribute("hx-headers")) {
        tab_daily.click()
        clearInterval(interval)
      }
      startInterval++
    }, 100)
  })()


  htmx.onLoad(function (content) {
    // console.log("on load ok")
    // if (typeof (list_transactions) != 'undefined') {
    // setAttributeClientDate(list_transactions)
    // }

    // bottom nav links
    // var btmNavLinks = document.querySelectorAll("#btm-nav a")
    // for (var i = 0; i < btmNavLinks.length; i++) {
    //   var link = btmNavLinks[i]
    //   if (link.getAttribute('href') == window.location.pathname) {
    //     link.classList.add("active", "text-primary")
    //     break
    //   }
    // }
  });
</script>
{{end}}