{{define "title"}}Signin{{end}}

{{define "main"}}
<div class="flex justify-center w-full">
  <div class="w-full px-4 md:w-1/3 mt-4">

    <div class="text-center text-lg font-bold">
      Signin
    </div>

    <form action="" hx-post="/signin" hx-target="body" hx-push-url="true">
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
      <div class="mt-2">
        <label class="form-control w-full">
          <div class=" label">
            <span class="label-text">Email</span>
          </div>
          <input type="text" name="email" value="{{.Form.Email}}" placeholder="Email" class="input input-bordered focus:input-primary w-full text-center 
           " />
          {{with .Form.FieldErrors.email}}
          <div class=" label">
            <span class="label-text text-warning">{{.}}</span>
          </div>
          {{end}}
        </label>
      </div>

      <div class="mt-2">
        <label class="form-control w-full">
          <div class=" label">
            <span class="label-text">Password</span>
          </div>
          <input type="password" name="password" placeholder="Password" class="input input-bordered focus:input-primary w-full text-center
          " />
          {{with .Form.FieldErrors.password}}
          <div class=" label">
            <span class="label-text text-warning">{{.}}</span>
          </div>
          {{end}}
          <div class="label">
            <a href="/forgot-password" class="label-text-alt link link-hover">Forgot password?</a>
          </div>
        </label>
      </div>


      <div class="mt-2 grid grid-cols-2">
        <div>
        </div>
        <div class="form-control w-full">
          <label class="cursor-pointer label">
            <span class="label-text">Remember me</span>
            <input type="checkbox" name="remember_me" class="toggle toggle-primary" {{if .Form.RememberMe}} checked
              {{end}} />
          </label>
        </div>
      </div>

      <div class="mt-6">
        <button class="btn btn-primary w-full insert-htmx-loading">
          Signin
        </button>
      </div>

      <div class="text-center mt-4">
        Don't have an account? <a href="/signup" class="link link-primary">Sign up for free</a>
      </div>
    </form>


  </div>
</div>


{{end}}