{{define "title"}}Create Transaction{{end}}

{{define "main"}}
<div class="relative px-4 md:flex md:justify-center">
  <form action="" class="md:w-1/3">
    <div class="fixed right-2 top-2 lg:right-1/3">
      <button class="btn btn-square" hx-get="/" hx-target="body" hx-push-url="true">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
        <span class="loading loading-spinner htmx-indicator absolute"></span>
      </button>
    </div>

    <div class="mt-6 flex justify-center text-lg">
      Transaction
    </div>

    <div class="mt-2">
      <label class="form-control w-full">
        <div class=" label">
          <span class="label-text">Nominal</span>
        </div>
        <input type="number" placeholder="Number" class="input input-bordered w-full text-center" />
      </label>
    </div>

    <div class="mt-4">
      <div onclick="showCategoriesModal()"
        class="border-2 border-dashed opacity-50 text-sm w-full flex justify-center py-2">
        <div>
          <div class="flex justify-center">
            <div>
              <div id="category" class="text-3xl">

              </div>
              <div id="sub-category" class="font-bold text-center">

              </div>
            </div>
          </div>
          <div class="flex justify-center">
            Choose Cagetory
          </div>
        </div>
      </div>
    </div>

    <div class="mt-4">
    </div>

    <div class="mt-4 ">
      <label class=" form-control w-full ">
        <div class=" label">
          <span class="label-text">Date</span>
        </div>
        <input type="date" class="input w-full" id="date" onfocus="this.showPicker()">
      </label>
    </div>

    <div class="mt-4">
      <button href="/transaction/create" hx-post="/transaction" hx-push-url="true" hx-target="body"
        class="btn btn-sm btn-square btn-primary w-full mt-4 relative">
        Save
        <span class="loading loading-spinner htmx-indicator absolute right-4"></span>
      </button>
    </div>
  </form>
</div>

<div id="categories-modal" class="absolute top-0 left-0 min-h-full w-full z-10 bg-base-200 hidden">
  <div class="fixed right-2 top-2 md:right-1/3">
    <button onclick="closeCategoriesModal()" class="btn btn-square">

      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
      <span class="loading loading-spinner htmx-indicator absolute"></span>
    </button>
  </div>

  <div class="container p-2 flex justify-center">
    <div class="w-full md:w-1/3">
      <div class="mt-6 flex justify-center text-lg">
        Categories
      </div>
      <div class="flex text-3xl mt-4 gap-3">
        <div>
          <div onclick="selectCategory(event)" text="Food">
            🍉
          </div>
          <div class="opacity-50 text-sm text-center">
            Food
          </div>
        </div>
        <div>
          <div onclick="selectCategory(event)" text="Gas">
            ⛽
          </div>
          <div class="opacity-50 text-sm text-center">
            Gas
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>


  var dateInput = document.getElementById("date")
  dateInput.valueAsDate = new Date()

  function selectCategory(ev) {
    var category = document.getElementById("category")
    var subCategory = document.getElementById("sub-category")
    category.innerHTML = ev.target.innerHTML
    subCategory.innerHTML = ev.target.attributes.text.value
    closeCategoriesModal()
  }

  function showCategoriesModal() {
    var categoriesModal = document.getElementById("categories-modal")
    categoriesModal.classList.remove("hidden")
    categoriesModal.classList.add("block")
  }

  function closeCategoriesModal() {
    var categoriesModal = document.getElementById("categories-modal")
    categoriesModal.classList.remove("block")
    categoriesModal.classList.add("hidden")
  }
</script>
{{end}}