{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ template "title" . }}</title>
  <script src="/static/js/htmx.min.js"></script>
  <link rel="stylesheet" href="/static/css/main.css">
</head>

<body>

  <div class="flex justify-center py-8">
    <h1 class="text-3xl">ACIS</h1>
  </div>

  <div class="flex justify-center">
    <div class="container w-1/2">
      <div class="flex justify-center">
        <ul class="menu bg-base-200 lg:menu-horizontal rounded-box">
          <li>
            <a>
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
              </svg>
              Home
            </a>
          </li>
          <li>
            <a>
              Tags
              <span class="badge badge-xs badge-info"></span>
            </a>
          </li>
          <li>
            <a>
              Logout
              <span class="badge badge-xs badge-info"></span>
            </a>
          </li>
        </ul>
      </div>
      <div class="py-8">
        {{template "main" .}}
      </div>
    </div>
  </div>

  <footer class="flex justify-center">
    <div>
      Powered by GO
    </div>
  </footer>
</body>

</html>
{{end}}