{{define "project"}}
<!DOCTYPE html>
<html lang="en">

{{template "head" .}}

<body>
  <div class="drawer">
    <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col">

      <!-- Navbar -->
      <div class="w-full flex lg:justify-center bg-base-300">
        <div class="w-full lg:w-1/2 navbar ">
          <div class="flex-none lg:hidden">
            <label for="my-drawer-3" aria-label="open sidebar" class="btn btn-square btn-ghost">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                class="inline-block w-6 h-6 stroke-current">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16">
                </path>
              </svg>
            </label>
          </div>
          <div class="flex-1" hx-boost="true">
            <a href="/home" class="btn btn-ghost text-xl font-bold">Acis</a>
            <ul class="menu menu-horizontal">
              <li><a href="/projects">Projects</a></li>
            </ul>
          </div>
          <div class="flex-none hidden lg:block">
            <ul class="menu menu-horizontal">
              <!-- Navbar menu content here -->
              <li><a>Settings</a></li>
              <li><a onclick="logout_modal.showModal()">Logout</a></li>
              <li>
                <label class="swap swap-rotate">
                  <input type="checkbox" class="theme-controller" value="light" />
                  <!-- sun icon -->
                  <svg class="swap-off fill-current w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="M5.64,17l-.71.71a1,1,0,0,0,0,1.41,1,1,0,0,0,1.41,0l.71-.71A1,1,0,0,0,5.64,17ZM5,12a1,1,0,0,0-1-1H3a1,1,0,0,0,0,2H4A1,1,0,0,0,5,12Zm7-7a1,1,0,0,0,1-1V3a1,1,0,0,0-2,0V4A1,1,0,0,0,12,5ZM5.64,7.05a1,1,0,0,0,.7.29,1,1,0,0,0,.71-.29,1,1,0,0,0,0-1.41l-.71-.71A1,1,0,0,0,4.93,6.34Zm12,.29a1,1,0,0,0,.7-.29l.71-.71a1,1,0,1,0-1.41-1.41L17,5.64a1,1,0,0,0,0,1.41A1,1,0,0,0,17.66,7.34ZM21,11H20a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm-9,8a1,1,0,0,0-1,1v1a1,1,0,0,0,2,0V20A1,1,0,0,0,12,19ZM18.36,17A1,1,0,0,0,17,18.36l.71.71a1,1,0,0,0,1.41,0,1,1,0,0,0,0-1.41ZM12,6.5A5.5,5.5,0,1,0,17.5,12,5.51,5.51,0,0,0,12,6.5Zm0,9A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z" />
                  </svg>
                  <!-- moon icon -->
                  <svg class="swap-on fill-current w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path
                      d="M21.64,13a1,1,0,0,0-1.05-.14,8.05,8.05,0,0,1-3.37.73A8.15,8.15,0,0,1,9.08,5.49a8.59,8.59,0,0,1,.25-2A1,1,0,0,0,8,2.36,10.14,10.14,0,1,0,22,14.05,1,1,0,0,0,21.64,13Zm-9.5,6.69A8.14,8.14,0,0,1,7.08,5.22v.27A10.15,10.15,0,0,0,17.22,15.63a9.79,9.79,0,0,0,2.1-.22A8.11,8.11,0,0,1,12.14,19.73Z" />
                  </svg>
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Page content here -->
      <div class="w-full flex lg:justify-center">
        <div class="w-full lg:w-1/2">
          {{template "main" .}}
        </div>
      </div>

    </div>
    <div class="drawer-side">
      <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
      <ul class="menu p-4 w-80 min-h-full bg-base-200">
        <!-- Sidebar content here -->
        <li><a>Settings</a></li>
        <li><a onclick="logout_modal.showModal()">Logout</a></li>
      </ul>
    </div>
  </div>

  <div id="btm-nav" class="btm-nav hidden max-md:flex" hx-boost="true" hx-push-url="true" hx-target="body">
    <a href="/projects/{{.Project.ID}}/home" id="btn-project-home">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
      </svg>
      <span class="btm-nav-label text-sm">Home</span>
      <span class="loading loading-dots loading-xs htmx-indicator"></span>
    </a>
    <button id="btn-project-create" onclick="create_transaction.showModal()">
      <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
        viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M5 12h14m-7 7V5" />
      </svg>
      <span class="btm-nav-label text-sm">Create</span>
    </button>
    <a href="/projects/{{.Project.ID}}/settings" id="btn-project-settings">
      <svg class="w-6 h-6 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
        viewBox="0 0 24 24">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M21 13v-2a1 1 0 0 0-1-1h-.757l-.707-1.707.535-.536a1 1 0 0 0 0-1.414l-1.414-1.414a1 1 0 0 0-1.414 0l-.536.535L14 4.757V4a1 1 0 0 0-1-1h-2a1 1 0 0 0-1 1v.757l-1.707.707-.536-.535a1 1 0 0 0-1.414 0L4.929 6.343a1 1 0 0 0 0 1.414l.536.536L4.757 10H4a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h.757l.707 1.707-.535.536a1 1 0 0 0 0 1.414l1.414 1.414a1 1 0 0 0 1.414 0l.536-.535 1.707.707V20a1 1 0 0 0 1 1h2a1 1 0 0 0 1-1v-.757l1.707-.708.536.536a1 1 0 0 0 1.414 0l1.414-1.414a1 1 0 0 0 0-1.414l-.535-.536.707-1.707H20a1 1 0 0 0 1-1Z" />
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
      </svg>
      <span class="btm-nav-label text-sm">Setting</span>
      <span class="loading loading-dots loading-xs htmx-indicator"></span>
    </a>
  </div>


  <footer class="flex justify-center">
    <div>
      Powered by GO
    </div>
  </footer>

  <!-- modals:create transaction -->
  <dialog id="create_transaction" class="modal modal-bottom sm:modal-middle">
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <h3 class="font-bold text-lg">Create Transaction</h3>
      <form method="POST" hx-post="/transactions" hx-target="body" hx-push-url="true">
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
        <div class="py-4">
          <div class="mt-2">
            <label class="form-control w-full">
              <div class=" label">
                <span class="label-text">Nominal</span>
              </div>
              <input type="number" name="nominal" value="{{.Form.Nominal}}" placeholder="Nominal"
                class="input input-bordered focus:input-primary w-full" />
              {{with .Form.FieldErrors.nominal}}
              <div class=" label">
                <span class="label-text text-warning">{{.}}</span>
              </div>
              {{end}}
            </label>
          </div>

          <div class="mt-2">
            <label class="form-control w-full">
              <div class=" label">
                <span class="label-text">Detail</span>
              </div>
              <textarea name="detail" class="textarea textarea-bordered focus:textarea-primary" placeholder="Detail"
                rows="4">{{.Form.Detail}}</textarea>
              {{with .Form.FieldErrors.detail}}
              <div class=" label">
                <span class="label-text text-warning">{{.}}</span>
              </div>
              {{end}}
            </label>
          </div>

        </div>
        <div class="modal-action">
          <button class="btn">
            Create
            <span class="loading loading-spinner htmx-indicator"></span>
          </button>
        </div>
      </form>
    </div>
  </dialog>

  <!-- modals:logout -->
  <dialog id="logout_modal" class="modal modal-bottom sm:modal-middle">
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
    <div class="modal-box">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <h3 class="font-bold text-lg">Logout</h3>
      <p class="py-4">Are you sure want to logout?</p>
      <div class="modal-action">
        <form method="dialog">
          <!-- if there is a button in form, it will close the modal -->
          <button class="btn">No</button>
        </form>
        <form hx-post="/signout" hx-target="body" hx-push-url="true">
          <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
          <button class="btn insert-htmx-loading">
            Yes, Logout please..
          </button>
        </form>
      </div>
    </div>
  </dialog>

</body>
<script>
  var btmNavLinks = document.querySelectorAll("#btm-nav a")
  for (var i = 0; i < btmNavLinks.length; i++) {
    var link = btmNavLinks[i]
    if (link.getAttribute('href') == window.location.pathname) {
      link.classList.add("active", "text-primary")
      break
    }
  }
</script>

</html>
{{end}}